In [2]:
import pandas as pd

In [3]:
db = pd.read_csv("2020movie.csv", lineterminator='\n') #create dataframe

In [4]:
db.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Bad Boys for Life,"$424,617,855","$204,417,855",48.1%,"$220,200,000",51.9%
1,2,The Eight Hundred,"$336,404,741","$188,258",<0.1%,"$336,216,483",99.9%
2,3,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%
3,4,Dolittle,"$246,387,220","$77,047,065",31.3%,"$169,340,155",68.7%
4,5,Tenet,"$207,000,000","$29,500,000",14.3%,"$177,500,000",85.7%

In [5]:
db.shape

(212, 7)

In [6]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           212 non-null    int64
 1   Release Group  212 non-null    object
 2   Worldwide      212 non-null    object
 3   Domestic       212 non-null    object
 4   %              212 non-null    object
 5   Foreign        212 non-null    object
 6   %.1            212 non-null    object
dtypes: int64(1), object(6)
memory usage: 11.7+ KB

In [7]:
db.describe()

             Rank
count  212.000000
mean   106.500000
std     61.343296
min      1.000000
25%     53.750000
50%    106.500000
75%    159.250000
max    212.000000